Dataset/*
Project-AI-Research/*
venv-fer/*
.vscode/*
weights/*
app/core/__pycache__/*
app/.DS_Store
app/core/.DS_Store
.DS_Store
app/core/network_models/__pycache__/
app/api/__pycache__/
app/core/__pycache__/*
happy.jpg
happy.jpg:Zone.Identifier
datasets/
utils_python/
app/core/train_model/model_saved/*
app/core/train_model/__pycache__/*
app/core/utils/__pycache__/*
app/__pycache__/*
.vscode/*
__pycache__/*
app/core/temp/
